<launch>

    <!-- Start openni tracker capture node --> 
    <node name="openni_tracker" pkg="openni_tracker" type="openni_tracker" output="screen" />

    <!-- Start custom person tracking node -->
    <node name="gait_capture" pkg="gait_capture" type="gait_processing.py" output="screen" />

</launch>

